@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Programação WEB 2022/2023</h1>
<hr />
<h2>Trabalho Realizado por:</h2>
<hr />
<p>a2020116565 - Daniel Filipe Almeida Fernandes</p>
<p>a2020116988 - Hugo Miguel Simões Jorge</p>
<hr />