html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.home_bg_image {
    background-image: url('/Ficheiros/home_bg_image.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}